.bg-form {
    border-bottom: 2px solid #d0e0f6;
    background-color: #FFF;

    .input-search {
        width: 100%;
        max-width: 100vw;
        height: 40px;
        background-image: url('../../../assets/images/btn-search.svg');
        background-repeat: no-repeat;
        background-size: 32px;
        background-position: right center;
    
        &:focus {
            background: transparent;
        }
    }
}
